.App {
  height: 100vh;
  width: 100vw;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s, color 0.3s;
}

.dark .App {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
